body{
    background-color: #F3EEEA;
  }

#navbar{
    background-color : #F3EEEA;
    position: fixed;
    top: 0;
    width: 100%;
}

#content{
    display : flex;
    align-items : center;
    height : 100vh;
    background-color : #F3EEEA;
}


@font-face{
  font-family : 'CustomFont';
  src : url('./Retro\ Gaming.ttf') format('truetype');
}


.commit-container *{
  color : #776B5D;
  font-family : 'CustomFont', sans-serif;
}


.commit-container{
  max-width : 800px;
}

.main{
  background-color : #EBE3D5;
  margin-top : -150px;
}


.custom-hr{
    width: 100%;
    margin: 0 auto;
    border: 0;
    height: 3px;
    background-color: black; 
}


.main > h1{
    font-size : 1.75rem;
}

footer{
    font-size : 1rem;
}

.verdy{
    height : 150px;
}

h2{
    font-size : 1.6rem;
}

h3{
    font-size : 1.25rem;
}

li{
    font-size : 1.1em;
}

li>li{
    font-size : 1rem;
}

/* CSS adjustments for smaller screens */

/* Desktop */

@media (min-width : 1440px){
  .main{
    margin-top : 150px;
  }
}

/* Macbook */
@media (max-width: 1440px) and (min-width : 390px) {
  .main {
      margin-top : 250px;
      margin-bottom : 100px;
  }
}

/* Phone */

@media (max-width : 390px){
  .main{
    margin-top : 800px;
    margin-bottom : 100px;
  }
}
